<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>User</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<%- include('../components/navbar')%>
	<a href="/users">Kembali</a>
	<h1>Detail User</h1>
	<ul>
		<li>Nama : <strong><%= data.name %></strong></li>
		<li>Email : <strong><%= data.email %></strong></li>
	</ul>
	<a href="/users/<%= data._id %>/edit">Edit</a>
	<a href="/users/id">Delete</a>
	<%- include('../components/footer')%>
</body>
</html>